body, html {
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, rgb(6, 9, 75) ,rgb(116, 8, 8));
    color: white;
    /*font-family: Apercu,Source Sans Pro,Helvetica,Arial,sans-serif;*/
    line-height: 1.5;
    scroll-behavior: smooth;
    font-family: 'Share Tech Mono', monospace;
}
.grid-container{
    height: 100vh;
   display: grid;
    grid-template: 10% / 100%; 
   padding: 20px;
}


.grid-item{
justify-content: center;
    text-align: center;
    font-weight: bold;
    /* border: 1px solid green; */
    
}

.header{
    vertical-align: middle;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding-left: 50px;
    
}
.nav{
    
    
    display: flex;
   
    align-self: center;
    padding-right: 20px;
}
.nav1 a{
font-size: 20px;
margin: 20px;

}

.logo h1{
    vertical-align: middle;
    font-size: 25px;
   
}
body a:hover{
    color: lightgreen;
}
.logo img{
width: 40px;
height: 40px;
border-radius: 50px;
vertical-align: middle;
padding-right: 10px;

}
.logo img:hover{
width: 45px;
height: 45px;
border-radius: 50px;

}

.home, .homeplay{
   
    display: flex;
    justify-content: center;


}
.home{
    padding-bottom: 50px;
}

.homebody , .article {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin:10px;
    justify-content: center;
    flex-wrap: nowrap;
    align-self: center;
    
   
}
.daily {
    display: flex;
    
    align-self: center;
    align-content: center;
    justify-content: center;
}
.mypost {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    align-self: center;
    align-content: center;
    justify-content: center;
}
.instagram-media{
    background:lightgray; 
    border:0; 
    border-radius:3px; 
    box-shadow:0 0 10px 0 rgba(175, 165, 165, 0.5),0 1px 10px 0 rgba(148, 143, 143, 0.15); 
    width: 400px;
    height: auto;
    margin: 40px;
    display: flex;
    justify-content: space-evenly;
    
}

body #top-button, html #top-button {
    background: 0 0;
    border: none;
    outline: 0;
    width: 55px;
    position: fixed;
    bottom: 25px;
    right: 10px;
    cursor: pointer;
    display: none;
    scroll-behavior: smooth; 
    display: inline-block;
}

body #top-button img, html #top-button img {
    width: 100%;
    scroll-behavior: smooth;
}
figure img {
    vertical-align: middle;
    justify-content: center;
    width: 100%;  
    margin-bottom: 10px;

}
.instagram-media:hover {
    border: 2px solid black;
   
}
figcaption{
    font-size: 15px;
    color: black;
}
figure h4 {
    font-size: 10px;
}
.homebody h2, .article_title{
    font-size: 70px;
    padding: 0;
    margin: 0;
    color: white;
}
.homebody p{
    color: lightgray;
    font-size: 50px;
    padding: 0;
    margin: 0;
}
.image-container img{
    justify-content:end;
    align-self: flex-end;
    width: 45%;
    height: auto;
    display: inline;
    border-radius: 20%;
    opacity: 70%;
    
}
body .sidenav, html .sidenav{
    background: 0 0;
    border: none;
    outline: 0;
    position: fixed;
    margin: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    cursor: pointer;
    scroll-behavior: smooth;   

}
.sidenav ul , .skillsdiv ul{

        list-style-type: none;
        padding-left: 0px;
      
}

.sidenav li {
    box-sizing: border-box;
    width: 80px;
    height: 20px;
    border-radius: 10px;
    text-decoration: none !important;
    background-color: lightgray;
    border: 1px solid darkgray;
    margin: 60px;
    margin-left: 0;
    opacity: 30%;
    scroll-behavior: smooth;
}

.sidenav li:hover{
    background-color: lightgreen;
    border: 2px solid lightgray;
    opacity: 100%;
    transform: 1px;
}
.sidenav li .sidenavline:active {
    background-color: lightgreen;
}

.sidenavline {
    box-sizing: border-box;
    width: 20px;
    height: 10px;
    text-decoration: none !important;
    color: grey;
 
}
.article_title{
    margin-left: 50px;
    font-stretch: expanded;
    box-sizing: border-box;
    padding: 50px;
   
    justify-content: center;
}

.background , .contact{
    display: flex;
    flex-direction: column;
   
    justify-content: center;
}
.article_content {
    width: 70%;
   /* border: 1px solid; */
box-sizing: border-box;
    justify-self: center;
    justify-content: center;
  align-self: center;
   
  
   flex-wrap: nowrap;
  
}
.article_content p{
    justify-content: center;
    align-self: center;
    font-size: 20px;
    letter-spacing: 4px;
    line-height: 1.8;
    color: lightgray;
    text-align: justify;
}
.aboutme a {
    color: white;
    
}

.header a {
    color:lightgray;
    text-decoration: none !important;
}

.resume h3{
    vertical-align: middle;
    align-self: center;
    
}
.resume {
    padding: 20px;
    margin-bottom: 100px;
    
}
.resume a:hover{
    background-color: white;
    color: green;
}
.resume a {
    box-sizing: border-box;
    border: 1px solid lightgreen;
    padding: 20px;
    vertical-align: middle;
    justify-content: center;
    margin-top: 10px;
    font-size: 18px;
}
.resume a img {
   padding: 0;
   vertical-align: middle;
}

.resume img , .links img , .skillsdiv img{
    width: 35px;
    height: auto;
   vertical-align: middle;
}
.technologist {
    background-image: url(images/female-technologist.png);
}
.work{
    padding-bottom: 30px;
}
.article .work {
    box-sizing: border-box;
    justify-content: center;
}
/* .work .article_title{
    padding-right: 250px;
} */
.work a , .links a{
   
    text-decoration: none !important;
    color: white;
}
table {
    
    align-self: center;
    width: 60%;
   /* border: 2px solid red; */
    margin: 20px;
    font-size: 18px;
    margin-top: 0;
    vertical-align: text-top;
}
table .companycol {
    width: 130px;
}
table th {
    font-size: 22px;
    width: auto;
    color: white;
    word-wrap: break-word;
    vertical-align: top;
    padding-left: 0;
}
table td{
    color: lightgray;
    vertical-align: text-top;
}
/* table .mincol {
    width: 70px;
} */
tr {
    height: 80px;
    margin: 10px;
}
.mainrow{
    width: 200px;
    

}
.links  {
    box-sizing: border-box;
    border: 1px solid lightgreen;
    padding: 20px;
    margin: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
    justify-content: center;
    margin-top: 10px;
    width: 300px;
}
.links:hover{
    background-color: lightgreen;
    border: 3px solid white;
    color: black;
}
.mylinks .links a:hover{
    color: black;
}
.mylinks .article_content {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    
}
.mylinks .article_title {
    margin-bottom: 50px;
}

.footerdiv {
    color: lightgray;
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
    clear: both;
    margin-top: 100px;
  }
  
  .footerdiv a {
    color: inherit;
    text-decoration: underline;
  }
  .skills .article_content {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0px;
    padding-bottom: 50px;
  }
  .skillsdiv{
    border: 1px solid lightgreen;
    margin: 10px;
    width: 350px;
    justify-self: center;
  }
  .skillsdiv ul{
    box-sizing: border-box;
    justify-content: flex-start;

  }
  .skills .article_title{
    padding-bottom: 0 ;
    padding-top: 0;
  
  }
.skillsdiv h3{
    font-size: 25px;
    padding: 0;
    border: 1px solid lightgreen;
    margin-top: 0;
}
.skillsdiv li{
    text-decoration: none !important;
    text-align: left;
    color: lightgray;
    vertical-align: middle;
    margin: 10px;
    padding-left: 20px;
}
.skillsdiv:hover{
  
   border: 3px solid lightgreen;
 
}
.instagram-media button{
    padding: 5px;
    border: none;
    background: #37f;
    font-size: 30px;
    color: red;
    width: 45px;
    height: 35px;
    vertical-align: middle;
    align-self: center;
    
}
.instagram-media button .next {
    border-radius: 10px 0 0 10px;
    margin-left: 15px;
}
.instagram-media button .prew {
    border-radius: 0 10px 10px 0;
    margin: 10px;
    
}
.next:hover , .prew:hover{
    color: black;
}








@media only screen and (min-width: 769px) and (max-width: 991px) {
    .media {
      width: 100%;
    }
  }
  
@media only screen and (max-width: 768px) {
    .media {
      width: 100%;
      text-align: center;
  
    }
    .article_title {
        font-size: 40px;
    }
    .article_content p {
        font-size: 15px;
    
    }
    .sidenav li{
        width: 60px;
        height: 20px;
       
    }
    .snav .sidenav {
        margin: 0;
    }
    table {
        width: 70%;
      }
    table td {
        font-size: 13px;
        
    }
    table th {
        font-size: 18px;
    }
    .links{
        width: 200px;
    }
}
@media only screen and (max-width: 425px) {
    .mypost{
        width: 90%;
    }
    .instagram-media {
        width: 100%;
    }
    .media {
        width: 100%;
        text-align: center;
    
      }
    
      .image-container img {
        width: 60%
      }
      .header {
        padding-left: 0;
        padding-top: 10px;
      }
      .header h1 {
        font-size: 0px;
      }
      .home b, h2, .homebody p, .homeplay b , .homeplay h1 {
        font-size: 40px;
      }
      .resume h3{
        font-size: 15px;
      }
      .article_title{
        padding-left: 0px;
        margin-left: 0;
        padding: 20px;
        font-size: 30px;
      }
      .article_content, .skills .article_content{
        width: 80%;
      }
      .background {
        margin-top: 20px;}
      .skills .article_content{
        margin: 10px;
        margin-bottom: 50px;
      }
      .article_content p {
        font-size: 12px;
      }
      .sidenav li {
        width: 35px;
        padding: 0px;
        margin-top: 0;
       margin-bottom: 40px;
      }
      .sidenav ul {
        margin-bottom: 10px;
        margin-top: 50px;
      }
      
      .skillsdiv{
        width: 130px;
        margin-top: 20px;
        margin-bottom: 3px;
      }
      .skillsdiv li{
        padding-left: 0;
        margin: 5px;
        font: 9px;
      }
      .skillsdiv h3{
        font-size: 13px;
        padding: 0;
        margin-top: 0;
    }
    .skillsdiv img, .links img{
        width:20px ;
    }
    table {
        width: 80%;
        padding-top: 30px;
        padding-bottom: 30px;
      }
      table .companycol{
        width: 70px;
      }
    table th {
        font-size: 12px;
        justify-self: left; 
        width: auto;
    }
    table td, th, tr{
        margin: 20px;
    }
  
      table td {
        font-size: 12px;
        
      }
      .links{
        width: 100px;
        padding: 0;
      }
      .links h3 {
        font-size: 12px;
      }
      

      .mylinks .article_content {
        width: 80%;
        margin-top: 40px;
      }
      .contact{
        margin-top: 20px;
        margin-bottom: 100px;
      }
      .mylinks .article_title {
        margin-bottom: 0px;
    }
    
     
}
